<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p><style'></style></p>
    <style></style>
    <p style="color:green"><h1> MIS PARIENTES SON:...</h1></p>

    {% for nom in nombres %}
        <p style="color:blue">El parentesco es:... {{ parentesco }}</p>
        <p style="color:rgb(0, 140, 255)">El nombres es:... {{ nombre }}</p>
        <p style="color:rgb(162, 0, 255)">La fecha de nacimiento:... {{ cumple }}</p>
        <p style="color:rgb(115, 255, 0)">La cantidad de hijos es:... {{ cantidadHijos }}</p>
    {% endfor %} -->
<!--     FUNCIONO
</body>
</html> --> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo</title>
</head>
<body>
    <!-- <h1>Hola ejemplo mundo!</h1>
    <p> <style></style> </p>
    <p style="color:red">Mi nombre es {{ nombre }}</p>
    <p style="color:blue">Y mi apellido es {{ apellido }}</p>

    <h1>Hoy es: {{ hoy }}</h1>

    Mis notas son:
    <br>
    {% for nota in notas %}
        {% if nota >= 4 %}
            <p style="color:green">{{nota}}</p>
        {% else %}
            <p style="color:red">{{nota}}</p>
        {% endif %}
    {% endfor %} -->
    <p style="color:rgb(71, 214, 71)">MIS PARIENTES SON:...</p>  
    <p style="color:blue">El parentesco es:...{{parentesco}}</p>
    <p style="color:rgb(0, 140, 255)">El nombres es:... {{nombre}}</p>
    <p style="color:rgb(162, 0, 255)">La fecha de nacimiento:... {{cumple}}</p>
    <p style="color:rgb(228, 57, 137)">La cantidad de hijos es:... {{cantidadHijos}}</p>
</body>
</html>